$background: #9999CC;
$text: black;

$blue-1: #9999FF;
$blue-2: #6666CB;
$blue-3: #333399;
$blue-4: #cccbff;
$blue-5: #9898fe;

$grey-1: #dddddd;
$grey-2: #eeeeee;
$grey-3: #cccccc;
$grey-4: #aaaaaa;
$grey-5: #777777;
$grey-6: #888888;
$grey-7: #bbbbbb;
$grey-8: #999999;

$yellow-1: #ffff99;
$yellow-2: #fecc02;

$green-1: #ccffcc;
$green-2: #66ff65;

$red-1: #ffcccc;
$red-2: #ff999a;